* {
    box-sizing: border-box;
    margin: 0px;
}

.tiraBarra {
    overflow-x: hidden;
}

.dropdown-menu {
    position: absolute;
    top: 112%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100%;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

nav {
    background-image: linear-gradient( rgba(80, 83, 119, 0.568), rgba(255, 138, 5, 0.541)), url("/imagens/cabecalho4.jpg");
    background-size: cover;
}

nav li a {
    color: white !important;
}

nav a:link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    padding: 6px;
    text-shadow: #575668 1px 1px 2px;
}

.navLinkDrop {
    color: rgb(0, 0, 0) !important;
}

nav h5 {
    color: white;
}

.navp {
    color: white;
    line-height: 10px;
    font-size: 2x;
    text-align: center;
}

.bg-info {
    background-color: #f860085d !important;
    /* opacity: 0.4;
    -moz-opacity: 0.4; */
}

.bordaBotaoTransparente {
    border-color: #caddf1;
}


/* conteudo */

thead {
    margin-top: 20px;
}

.tdcliente {
    font-size: 13px;
}


/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    color: white;
    padding-top: 4px;
    font-size: 10px;
    text-align: center;
}